@model string 

@{
    ViewData["Title"] = "Transfer Successful";
}

<h2>Transfer Successful</h2>
<p>Money was successfully transferred to <strong>@ViewBag.ReceiverName</strong>.</p>

<a href="/Account/MainPage" class="btn btn-primary">Back </a>

